cryptography==44.0.2
Django==5.2
h5py==3.13.0
matplotlib==3.10.1
mediapipe==0.10.21
numpy==1.26.4
opencv_contrib_python==4.11.0.86
opencv_python==4.11.0.86
python-dotenv==1.1.0
pytorch_msssim==1.0.0
torch==2.6.0
torchmetrics==1.7.1
torchvision==0.21.0
tqdm==4.67.1
django-multiselectfield==0.1.13