Django==5.1.4
h5py==3.12.1
mediapipe==0.10.21
numpy==2.2.3
opencv_contrib_python==4.11.0.86
opencv_python==4.10.0.84
piq==0.8.0
Requests==2.32.3
skimage==0.0
torch==2.5.1
torchvision==0.20.1
tqdm==4.67.1
