{% load static %}

<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Login Derma Track</title>
      <link rel="stylesheet" href={% static 'css/style.css' %}>
    </head>


    <body>
        <div class="wrapper fadeInDown">
            <div id="formContent">
              
              <h2 class="active"> Sign In </h2>
          
              <div class="fadeIn first">
                <img src="" id="icon" alt="User Icon" />
              </div>
          
              <form id = "login-form" method=POST>
                {% csrf_token %}
                
                {{ form }}
                
                <input type="submit" class="fadeIn fourth" value="Log In">
              </form>

              {% if messages %}
              <div id="formFooter">
                {% for message in messages %}
                  {{ message }}
                {% endfor %}
              </div>
              {% endif %}
            </div>
          </div>
    <body>
</html>

