{% load static %}

<script src="{% static 'js/loadAllSelectDataset.js' %}" defer></script>
<script src="{% static 'js/loadAllSelectModel.js' %}" defer></script>
<link href="{% static 'css/model_form.css' %}" rel="stylesheet" type="text/css">

<div class="container mt-5 bg-light p-3">
  <h2 class="text-center mb-4">Model Evaluation Form</h2>
  <form id="evaluation-form" method="POST" hx-post="{% url 'evaluate_model' %}" hx-target="#dynamic-body" hx-swap="innerHTML">
    {% csrf_token %}

    <fieldset class="border p-3 mb-4">
      <legend class="w-auto text-primary">Evaluation Configuration</legend>

      <div class="col-md-12">
        <label for="model-select" class="form-label">Model to Evaluate</label>
        <select class="form-select" id="model-select" name="model" required>
          <option value="">---Select Model---</option>
        </select>
      </div>

      <div class="col-md-12 pt-2">
        <label for="eval-dataset" class="form-label">Evaluation Dataset</label>
        <select class="form-select" id="eval-dataset-select" name="eval-dataset" required>
            <option value="">---Select Evaluation Dataset---</option>
        </select>
      </div>

      <div class="col-md-12 pt-2">
          <label for="overlaying" class="form-label">Select maximum and minimum rotation degree</label>
          <div class="input-group">
            <input type="number" min="1" max="10" step="1" class="form-control" id="degree-select" name = "degree" placeholder="Degree Here">
            <span class="input-group-text">°</span>
          </div>
      </div>

      <div class="col-md-12 pt-2">
        <label for="overlaying" class="form-label">Select the step</label>
        <div class="input-group">
          <input type="number" min="1" max="2" step="1" class="form-control" id="step-select" name = "step-degree" placeholder="Step here">
          <span class="input-group-text">°</span>
        </div>
      </div>

    </fieldset>

    <button type="submit" class="btn btn-primary mt-3">Evaluate</button>
  </form>
</div>

<div id="loading-overlay" class="position-fixed top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center bg-dark bg-opacity-75 d-none" style="z-index: 900;">
    <div class="spinner-border text-light m-2" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div id = "loading-text" class = "text-light"></span>
</div>

<script>
  document.body.addEventListener('htmx:beforeRequest', function (evt) {
    showLoading("The model is currently under investigation...", "Feel free to grab a coffee or a nice cup of tea just like our British mates would!");
  });
</script>