{% load static %}

<script src="{% static 'js/loadAllSelectDataset.js' %}" defer></script>
<script src="{% static 'js/imageOption.js' %}" defer></script>
<link href="{% static 'css/model_form.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'js/loadAllSelectModel.js' %}" defer></script>
<script src="{% static 'js/disabledSelect.js' %}" defer></script>

<div class="container mt-5 bg-light p-3">
  <h2 class="text-center mb-4">Model Configuration Form</h2>
  <form id="model-form" method="POST" hx-post="{% url 'training_model' %}" hx-target = "#dynamic-body" hx-swap = "innerHTML" onsubmit = "train_loading()">
    {% csrf_token %}

      <fieldset class="border p-3">
      <legend class="w-auto text-primary">Model Training Configuration</legend>
      
      <div class="row mt-3">
        <div class="col-md-6">
          <label for="architecture" class="form-label">Architecture</label>
          <select class="form-select" id="architecture-select" name="architecture" required>
              <option value="">---Select Architecture---</option>
              <option value="SRCNN">SRCNN</option>
              <option value="SRGAN">SRGAN</option>
              <option value="ESRGAN">ESRGAN</option>
              <option value="ESRGAN">EDVR</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="name" class="form-label">Model Name</label>
          <input type="text" name = "name" class="form-control" id="name" placeholder="Write your Model Name" required>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-6">
          <label for="scale" class="form-label">Scale</label>
            <select class="form-select" id="scale-select" name="scale" required>
                <option value="">---Select Scale---</option>
                <option value="2">x2</option>
                <option value="4">x4</option>
                <option value="8">x8</option>
            </select>
        </div>
        <div class="col-md-6">
          <label for="mode" class="form-label">Mode</label>
          <select class="form-select" id="mode-select" name="mode" required>
              <option value="">---Select Mode---</option>
              <option value="BGR2YCrCb">Gray</option>
              <option value="BGR2RGB">Color</option>
          </select>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-6">
          <label for="learning-rate" class="form-label">Learning Rate</label>
          <input type="number" step="0.000001" name = "learning-rate" class="form-control" id="learning-rate" placeholder="1e-4" value="0.0001" required>
        </div>

        <div class="col-md-6">
          <label for="num-epochs" class="form-label">Number of Epochs</label>
          <input type="number" name = "num-epochs" class="form-control" id="num-epochs" placeholder="100" value="100" required>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-6">
          <label for="seed" class="form-label">Seed</label>
          <input type="number" name = "seed" class="form-control" id="seed" placeholder="1" value="1" required>
        </div>
        <div class="col-md-6">
          <label for="model-select" class="form-label">Use trained model ? (optional)</label>
          <select class="form-select" id="model-select" name="pretrain-model">
            <option value="">---Select Model---</option>
          </select>
        </div>
      </div>
    </fieldset>

    <fieldset class="border p-3 mt-4">
      <legend class="w-auto text-primary">Dataset Selection</legend>
      <div class="row">
        <div class="col-md-4">
          <label for="train-dataset" class="form-label">Training Dataset</label>
          <select class="form-select" id="train-dataset-select" name="train-dataset" required>
              <option value="">---Select Training Dataset---</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="valid-dataset" class="form-label">Validation Dataset</label>
          <select class="form-select" id="valid-dataset-select" name="valid-dataset" required>
              <option value="">---Select Validation Dataset---</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="eval-dataset" class="form-label">Evaluation Dataset</label>
          <select class="form-select" id="eval-dataset-select" name="eval-dataset" required>
              <option value="">---Select Evaluation Dataset---</option>
          </select>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-6">
          <label for="batch-size" class="form-label">Batch Size</label>
          <input type="number" name = "batch-size" class="form-control" id="batch-size" placeholder="16" value="16" required>
        </div>
        <div class="col-md-6">
          <label for="num-workers" class="form-label">Number of Workers</label>
          <input type="number" name = "num-workers" class="form-control" id="num-workers" placeholder="8" value="8" required>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-6">
          <label class="form-label">Feeling Fancy and want to use some options ? <a href="#" onclick="resetOption()">(reset)</a></label>
          <div class="radio-inputs d-flex justify-content-center align-items-center user-select-none">
              <label class = "m-3">
                <input class="radio-input" type="radio" name="image-option" id="resize-radio" value="resize">
                  <span class="radio-tile d-flex flex-column justify-content-center align-items-center text-center">
                    <span class="radio-icon">
                      <img src="{%static 'images/resize.svg' %}" alt="">
                    </span>
                    <span class="radio-label">Same Size</span>
                  </span>
              </label>
              <label class = "m-3">
                <input class="radio-input d-flex justify-content-center align-items-center" type="radio" name="image-option" id="subdivise-radio" value="subdivise">
                <span class="radio-tile d-flex flex-column justify-content-center align-items-center text-center">
                  <span class="radio-icon">
                    <img src="{%static 'images/divided.svg' %}" alt="">
                  </span>
                  <span class="radio-label">Subdivise</span>
                </span>
              </label>
          </div>
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-start align-items-center">
        
          <div id="subdiviseOptions" class="d-none w-100 px-3">
            <label for="patch-size" class="form-label">Select Patch size</label>
            <select class="form-select" id="patch-size-select" name = "patch-size">
              <option value="32">32x32</option>
              <option value="64">64x64</option>
              <option value="96">96x96</option>
              <option value="128">128x128</option>
              <option value="160">160x160</option>
              <option value="192">192x192</option>
              <option value="224">224x224</option>
              <option value="256">256x256</option>
            </select>
            <label for="overlaying" class="form-label">Select Overlaying pourcentage</label>
            <div class="input-group">
              <input type="number" min="0" max="100" step="1" class="form-control" id="overlaying-select" name = "overlaying" placeholder="Pourcentage here">
              <span class="input-group-text">%</span>
            </div>
          </div>
        
          <div id="resizeOptions" class="d-none w-100 px-3">
            <label for="resize-rule" class="form-label">Resize Strategy</label>
            <input type="range" class="form-range" min="0" max="1" step="1" id="resize-rule-input" name = "resize-rule">
            <div class="d-flex justify-content-between">
              <span>Crop to Smallest</span>
              <span>Pad to Largest</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-6">
          <label class="form-label">Feeling Even more Fancy and want to use one more option ? <a href="#" onclick="resetOptionPlus()">(reset)</a></label>
          <div class="radio-inputs d-flex justify-content-center align-items-center user-select-none">
              <label class = "m-3">
                <input class="radio-input" type="radio" name="image-option-angle" id="angle-radio" value="resize">
                  <span class="radio-tile d-flex flex-column justify-content-center align-items-center text-center">
                    <span class="radio-icon">
                      <img src="{%static 'images/rotate.svg' %}" alt="">
                    </span>
                    <span class="radio-label">Rotate</span>
                  </span>
              </label>
          </div>
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-start align-items-center">
          <div id="angleOptions" class="d-none w-100 px-3">
            <label for="overlaying" class="form-label">Select maximum and minimum rotation degree</label>
            <div class="input-group">
              <input type="number" min="1" max="10" step="1" class="form-control" id="degree-select" name = "degree" placeholder="Degree Here">
              <span class="input-group-text">°</span>
            </div>
            <label for="overlaying" class="form-label">Select the step</label>
            <div class="input-group">
              <input type="number" min="1" max="2" step="1" class="form-control" id="step-select" name = "step-degree" placeholder="Step here">
              <span class="input-group-text">°</span>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>
</div>

<div id="loading-overlay" class="position-fixed top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center bg-dark bg-opacity-75 d-none" style="z-index: 900;">
    <div class="spinner-border text-light m-2" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div id = "loading-text" class = "text-light"></span>
</div>

<script>
  function train_loading(){
    showLoading("The model is training...", "Feel free to grab a coffee or a nice cup of tea just like our British mates would!");
  }
</script>
