{% load static %}
<script src="{% static 'js/loadAllSelectModel.js' %}" defer></script>
<link href="{% static 'css/model_form.css' %}" rel="stylesheet" type="text/css">

<div class="container mt-5 bg-light p-3">
  <h2 class="text-center mb-4">Model Selection Form</h2>
  <form id="select-model-form" method="POST" hx-post="{% url 'select_model' %}" hx-target="#dynamic-body" hx-swap="innerHTML">
    {% csrf_token %}

    <fieldset class="border p-3 mb-4">
        <legend class="w-auto text-primary">Model Selection</legend>

        <div class="col-md-12">
            <label for="model-select" class="form-label">Select Model to use in the app</label>
            <select class="form-select" id="model-select" name="model" required>
                <option value="">---Select Model---</option>
            </select>
        </div>

    </fieldset>

    <button type="submit" class="btn btn-primary mt-3">Select</button>
  </form>
</div>
