
#modal-body{
    max-height: 50%;
}

#file-container {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
    padding: 1em;
    max-height: 38em; 
    overflow: hidden;
}

.file-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    height: 13em;
    width: 13em;
}

.file-item img {
    width: 10em;
    height: 10em;
    object-fit: contain;
    margin-bottom: 0.2em;
}

.file-item figcaption {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: white;
}

.file-item:hover, .file-item.selected {
    background-color: rgba(255, 255, 255, 0.5);
}

.file-item.selected {
    background-color: rgba(255, 255, 255, 0.5);
}

.vr {
    width: 0.2em;
    background-color: gray;
    height: 100%;
}

.svg-wrapper {
    position: relative;
}

.body-icon {
    position: absolute;
    width: 45% !important;
    height: 45% !important;
    top: 2.5rem;
    pointer-events: none;
}

.carousel-control-prev-icon{
    background-color: black;
}

.carousel-control-next-icon{
    background-color: black;
}

#medicalCarousel {
    min-height: 5vh;
}