<div class="container-fluid my-3 p-3 bg-light rounded shadow-sm">
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Street</th>
                <th>Number</th>
                <th>City</th>
                <th>Zip Code</th>
                <th>Phone Number</th>
                <th>Other Phone Number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for doctor in doctors %}
            <tr>
                <td>{{ doctor.name }}</td>
                <td>{{ doctor.surname }}</td>
                <td>{{ doctor.street }}</td>
                <td>{{ doctor.number }}</td>
                <td>{{ doctor.city }}</td>
                <td>{{ doctor.zip_code }}</td>
                <td>{{ doctor.phone_number }}</td>
                <td>{{ doctor.other_phone_number }}</td>
                <td>       
                    <div style="display: flex; align-items: center; gap: 10px;">
                        <form action='doctor' method='POST' style="margin: 0; display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="id" class="form-control" value="{{ doctor.pk }}" required=""> 
                            <button type="submit" class="btn btn-success" data-mdb-ripple-color="dark">View</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <nav>
        <ul class="pagination justify-content-center mt-3">
            {% if patients.has_previous %}
                <li class="page-item">
                    <a class="page-link" hx-get="?page=1" hx-target="#dynamic-body" hx-swap="innerHTML">&laquo; First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" hx-get="?page={{ patients.previous_page_number }}" hx-target="#dynamic-body" hx-swap="innerHTML">Previous</a>
                </li>
            {% endif %}

            <li class="page-item active">
                <span class="page-link">
                    Page {{ patients.number }} of {{ patients.paginator.num_pages }}
                </span>
            </li>

            {% if patients.has_next %}
                <li class="page-item">
                    <a class="page-link" hx-get="?page={{ patients.next_page_number }}" hx-target="#dynamic-body" hx-swap="innerHTML">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" hx-get="?page={{ patients.paginator.num_pages }}" hx-target="#dynamic-body" hx-swap="innerHTML">Last &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>