<div class="modal fade" id="mainModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <form method="POST" hx-post="/core/create_patient/">
                {% csrf_token %}
                <div class="modal-header bg-light border-bottom">
                    <h5 class="modal-title">Add New Patient</h5>
                </div>

                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label class="form-label">Name (required)</label>
                                {{ form.name}}

                                <label class="form-label mt-3">Surname (required)</label>
                                {{ form.surname}}

                                <label class="form-label mt-3">National Number (required)</label>
                                {{ form.national_number}}

                                <label class="form-label mt-3">Date of Birth (required)</label>
                                {{ form.date_of_birth}}

                                <label class="form-label mt-3">Blood Group (required)</label>
                                {{ form.blood_group}}
                            </div>

                            <div class="col-md-6">
                                <label class="form-label">Street (required)</label>
                                {{ form.street}}

                                <label class="form-label mt-3">Number (required)</label>
                                {{ form.number}}

                                <label class="form-label mt-3">City (required)</label>
                                {{ form.city}}

                                <label class="form-label mt-3">ZIP Code (required)</label>
                                {{ form.zip_code }}

                                <label class="form-label mt-3">Phone Number (required)</label>
                                {{ form.phone_number}}

                                <label class="form-label mt-3">Other Phone Number</label>
                                {{ form.other_phone_number}}
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-12">
                                <label class="form-label">Allergies</label>
                                <div class="row row-cols-2 row-cols-md-3 g-2">
                                    {% for checkbox in form.allergies %}
                                        <div class="col">
                                            <div class="form-check">
                                                {{ checkbox.tag }}
                                                <label class="form-check-label" for="{{ checkbox.id_for_label }}">
                                                    {{ checkbox.choice_label }}
                                                </label>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer border-top">
                    {% if is_form %}
                        <button type="submit" class="btn btn-success">Save</button>
                    {% endif %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="clearPopUp()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
