{% load static %}

<script src="{% static 'js/video_capture.js' %}" defer></script>
<script src="{% static 'js/annotation.js' %}" defer></script>

<link href="{% static 'css/visit_modal.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/image_preview.css' %}" rel="stylesheet" type="text/css">

<div class="modal fade" id="mainModal" tabindex="-1" role="dialog" data-visit-id="{{ visit.id }}">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="visitModalLabel">Appointment Details</h5>
            </div>

            <div class="modal-body">
                <div class="row p-3 border rounded mb-3">
                    <div id="profile-info" class="col-md-3 p-3">
                        <div class="text-center">
                            <img src="https://placehold.co/600x400" alt="Profile Picture"
                                class="rounded-circle mb-3"
                                style="width: 6rem; height: 6rem; object-fit: cover;">
                            <h5>{{ visit.patient.full_name }}</h5>
                            <p><strong>National Number:</strong> {{ visit.patient.national_number }}</p>
                            <p><strong>Date of Birth:</strong> {{ visit.patient.date_of_birth }}</p>
                            <p><strong>Address:</strong> {{ visit.patient.full_adress }}</p>
                            <p><strong>Phone:</strong> {{ visit.patient.phone_number }}</p>
                        </div>
                    </div>

                    <div class="col-md-1 d-flex justify-content-center align-items-center">
                        <div class="vr"></div>
                    </div>

                    <div id="note" class="col-md-8 p-3">
                        <h5>Take Notes</h5>
                        <textarea id="notesArea" class="form-control" rows="8"
                            placeholder="Write your notes here..."
                            style="background-color: #ffd6d6; color: black;"></textarea>
                    </div>
                </div>

                <div id="file-explorer" class="row border rounded p-3">
                    <h5 class="mb-3">File Explorer</h5>
                    <div class="bg-success pt-2 rounded" style="max-height: 30vh;">
                        <div class="d-flex flex-wrap pb-4 h-100 justify-content-center" id="file-container" style="overflow-y: auto;">
                            <!-- Files will be dynamically inserted here -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                {% if visit.status != "canceled" and visit.status != "finished" %}
                    <button type="button" class="btn btn-success" data-bs-target="#secondaryModal" data-bs-toggle="modal" onclick="stream()">Adding Picture(s)</button>
                {% endif %}
                <button id = "backButton" type="button" class="btn btn-primary d-none" onclick="createFileExplorer({{visit.id}})">Back</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="clearPopUp()">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id = "secondaryModal" tabindex="-1" role="dialog" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Capture Image</h5>
            </div>
            <div class="form-group">
                <label for="body-part">Select Body Part:</label>
                <select id="body-part" class="form-control">
                </select>
            </div>
            <div class="modal-body text-center">
                <div class = "row h-75">
                    <video id="stream" autoplay></video>
        
                    <button id="capture-btn" class="btn btn-primary mt-3" onclick="captureImage(true)">Capture</button>
                </div>
                <div class = "row h-25 carousel slide p-3" id ="medicalCarousel"> 
                    <div class="carousel-inner" aria-hidden="true">
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#medicalCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" ></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#medicalCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                </div>
                
                
            </div>
            <div class="modal-footer">
                {% if true %}
                    <button type="button" class="btn btn-success" id="save-picture" onclick = "saveImagesToServer({{ visit.id }})">Save all pictures</button>
                {% endif %}
                <button type="button" class="btn btn-danger" onclick="stopStream()" data-bs-target="#mainModal" data-bs-toggle="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="imagePreviewModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Image Preview</h5>
                <div class="form-check form-switch annotation-toggle m-2">
                    <input class="form-check-input" type="checkbox" id="annotationSwitch" onclick="toggleAnnotations()">
                    <label class="form-check-label" for="annotationSwitch">Annotations</label>
                </div>

            </div>
            <div class="modal-body position-relative">
                <div id="image-preview" class="background-image position-absolute top-50 start-50 translate-middle">
                    <canvas id="canvas-annotation"></canvas>
                    <button id="trash-button" type="button" class="btn btn-danger" onclick = "deleteLine()"><i class="bi bi-trash-fill"></i></button>
                    
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-target="#mainModal" data-bs-toggle="modal">Close</button>
            </div>
        </div>
    </div>
</div>
  