<div class="modal fade" id="mainModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <form method="POST" hx-post="/core/create_visit/" hx-target="#pop-up" hx-swap="innerHTML">
                {% csrf_token %}

                <div class="modal-header bg-light border-bottom">
                    <h5 class="modal-title">Create New Visit</h5>
                </div>

                <div class="modal-body">
                    <div class="mb-3">
                        <label for="id_patient" class="form-label">Patient</label>
                        {{ form.patient }}
                        {% comment %} <datalist id = "patients">
                            {% for patient in patients %}
                                <option value = "{{ patient }}"></option>
                            {% endfor %}
                        </datalist> {% endcomment %}
                    </div>

                    <div class="mb-3">
                        <label for="id_date" class="form-label">Date and Time</label>
                        {{ form.date }}
                    </div>
                </div>

                <div class="modal-footer border-top">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="clearPopUp()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

